


   .popup {
    position: absolute; 
    top: -100%; 
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999 !important;
    max-width: 300px;
    width: 100%;
    text-align: center;
    color: black;
    transition: top 0.3s ease-in-out; 
    border-radius: 5px;
  }
  
  .popup h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .popup input[type='text'] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .popup button:hover {
    background-color: #45a049;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .popup.open {
    top: 50%; 
   
  }